---
title: Manuel Meurer - Web developer and entrepreneur based in Berlin, Germany.
description: Manuel Meurer is a web developer and entrepreneur based in Berlin, Germany. He is the founder of Uplink, a network of IT freelancers in Germany.
---

= image_tag 'face.jpg', alt: "That's my face, sir!"

%h1
  Hi there!

%p
  My name is Manuel Meurer and I am a web developer and entrepreneur based in Berlin, Germany. Since 2016 I have been working exclusively on
  = succeed ',' do
    %strong= link_to 'Uplink', 'https://uplink.tech/'
  a network for IT freelancers in Germany.

%p
  I am originally from Dortmund, where I studied IT with short stints in the USA and Sweden. After my studies I lived in Stockholm for a while before moving to Berlin in 2008. Here I worked as a freelance developer for many of the city's startups, agencies, and corporates before founding Uplink.

%p
  If you want to get in touch, try
  = mail_to 'manuel@krautcomputing.com', 'email'
  or one of these:
  %br
  = link_to 'XING', 'https://www.xing.com/profile/Manuel_Meurer', rel: 'nofollow'
  \~
  = link_to 'LinkedIn', 'https://www.linkedin.com/in/manuelmeurer', rel: 'nofollow'
  \~
  = link_to 'GitHub', 'https://github.com/manuelmeurer', rel: 'nofollow'
  \~
  = link_to 'Twitter', 'https://twitter.com/manume', rel: 'nofollow'
